<a href="https://colab.research.google.com/github/LuisAlonsoXP/Mineria_DE_Datos/blob/main/mineria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mineria de Datos

## Primer Parcial

### Introduccion

#### Conceptos

¿Qué es la minería de datos?

La minería de datos es el uso del machine learning y el análisis estadístico para descubrir patrones y otra información valiosa de grandes conjuntos de datos.

#### Ciencia de datos

¿Qué es la ciencia de datos?

La ciencia de datos es un campo que combina las matemáticas y la estadística, la programación especializada, los analytics avanzados, la inteligencia artificial IA y el machine learning con conocimientos específicos en la materia para descubrir insights procesables ocultos en los datos de una organización. Estos insights pueden utilizarse para orientar la toma de decisiones y la planificación estratégica.

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
my_list = [1, 2, 3]
len(my_list)

3

In [ ]:
L = [1, 2, 3]
L.insert(3,4)
len(L)

4

In [ ]:
a = 2
def square(a):
 return a ** 2

square(a)

4

IPython Magic Commands

In [ ]:
# el comando magico %timeit sirve para evaluar el desempeño en terminos de tiempo
%timeit L = [n ** 2 for n in range(1000)]

70.8 µs ± 1.38 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
# El comando magico %%timeit sirve tambie para evaluar el desempeño
# solo que este abarca varias lineas de codigo en lugar de una
%%timeit
L = []
for n in range(1000):
  L.append(n ** 2)

79.8 µs ± 4.04 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%timeit?

In [ ]:
%%timeit?

IPython and Shell Commands

In [ ]:
#ver la ruta donde estas
!ls

sample_data

In [ ]:
# con cd te mueves a la ruta especificada
%cd sample_data/

/content/sample_data

In [ ]:
#ver la ruta pero con % mas tiempo
%ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
!cat

^C

In [ ]:
%env

{'SHELL': '/bin/bash',
 'COLAB_JUPYTER_TRANSPORT': 'ipc',
 'CGROUP_MEMORY_EVENTS': '/sys/fs/cgroup/memory.events /var/colab/cgroup/jupyter-children/memory.events',
 'VM_GCE_METADATA_HOST': '169.254.169.253',
 'MODEL_PROXY_HOST': 'https://mp.kaggle.net',
 'HOSTNAME': 'be3e97503cdb',
 'LANGUAGE': 'en_US',
 'TBE_RUNTIME_ADDR': '172.28.0.1:8011',
 'GCE_METADATA_TIMEOUT': '3',
 'COLAB_JUPYTER_IP': '172.28.0.12',
 'COLAB_LANGUAGE_SERVER_PROXY_ROOT_URL': 'http://172.28.0.1:8013/',
 'KMP_LISTEN_PORT': '6000',
 'TF_FORCE_GPU_ALLOW_GROWTH': 'true',
 'ENV': '/root/.bashrc',
 'PWD': '/',
 'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009',
 'COLAB_LANGUAGE_SERVER_PROXY_REQUEST_TIMEOUT': '30s',
 'TBE_CREDS_ADDR': '172.28.0.1:8008',
 'COLAB_JUPYTER_TOKEN': '<hidden>',
 'LAST_FORCED_REBUILD': '20250623',
 'TCLLIBPATH': '/usr/share/tcltk/tcllib1.20',
 'COLAB_KERNEL_MANAGER_PROXY_HOST': '172.28.0.12',
 'UV_BUILD_CONSTRAINT': '',
 'COLAB_WARMUP_DEFAULTS': '1',
 'HOME': '/root',
 'LANG': 'en_US.UTF-8',
 'CLOUDSDK_CONFIG': '/content/.config',
 'UV_SYSTEM_PYTHON': 'true',
 'COLAB_RELEASE_TAG': 'release-colab-external_20260120-060051_RC00',
 'KMP_TARGET_PORT': '9000',
 'KMP_EXTRA_ARGS': '--logtostderr --listen_host=172.28.0.12 --target_host=172.28.0.12 --tunnel_background_save_url=https://colab.research.google.com/tun/m/cc48301118ce562b961b3c22d803539adc1e0c19/m-s-2gu7okw4sp101 --tunnel_background_save_delay=10s --tunnel_periodic_background_save_frequency=30m0s --enable_output_coalescing=true --output_coalescing_required=true ',
 'UV_INSTALL_DIR': '/usr/local/bin',
 'COLAB_LANGUAGE_SERVER_PROXY_LSP_DIRS': '/datalab/web/pyright/typeshed-fallback/stdlib,/usr/local/lib/python3.10/dist-packages',
 'COLAB_KERNEL_MANAGER_PROXY_PORT': '6000',
 'CLOUDSDK_PYTHON': 'python3',
 'NO_GCE_CHECK': 'False',
 'PYTHONPATH': '/env/python',
 'SHLVL': '0',
 'COLAB_LANGUAGE_SERVER_PROXY': '/usr/colab/bin/language_service',
 'UV_CONSTRAINT': '',
 'PYTHONUTF8': '1',
 'COLAB_GPU': '',
 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16',
 'LC_ALL': 'en_US.UTF-8',
 'COLAB_FILE_HANDLER_ADDR': 'localhost:3453',
 'PATH': '/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin',
 'COLAB_IMAGE_TYPE': 'cpu',
 'COLAB_DEBUG_ADAPTER_MUX_PATH': '/usr/local/bin/dap_multiplexer',
 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command',
 'DEBIAN_FRONTEND': 'noninteractive',
 'COLAB_BACKEND_VERSION': 'next',
 'OLDPWD': '/',
 '_PYVIZ_COMMS_INSTALLED': '1',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'JPY_SESSION_NAME': 'https://github.com/LuisAlonsoXP/Mineria_DE_Datos/blob/main/Mineria.ipynb',
 'JPY_PARENT_PID': '92',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
 'ENABLE_DIRECTORYPREFETCHER': '1',
 'USE_AUTH_EPHEM': '1',
 'COLAB_NOTEBOOK_ID': 'https://github.com/LuisAlonsoXP/Mineria_DE_Datos/blob/main/Mineria.ipynb'}

Understanding Data Types in Python

In [ ]:
import numpy as np

In [ ]:
# lista entera
np.array([1, 4, 2, 5, 3])

array([1, 4, 2, 5, 3])

In [ ]:
np.array([3.14, 4, 2, 3])

array([3.14, 4.  , 2.  , 3.  ])

In [ ]:
np.array([1, 2, 3, 4], dtype='float32')

array([1., 2., 3., 4.], dtype=float32)

In [ ]:
np.array([1, 2, 3, 4], dtype='int')

array([1, 2, 3, 4])

In [ ]:
# rangos
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

The Basics of NumPy Arrays

In [ ]:
import numpy as np
np.random.seed(0)  #semilla random

x1 = np.random.randint(10, size=6)  # array de una dimension
x2 = np.random.randint(10, size=(3, 4))  # array de dos dimensiones
x3 = np.random.randint(10, size=(3, 4, 5))  # array de tres dimensiones

In [ ]:
print("x3 ndim: ", x3.ndim) # la propiedad ndim nos dice el numero de dimensiones
print("x3 shape:", x3.shape) # shape dimesiones
print("x3 size: ", x3.size) # tamaño se multiplican los numeros ej  size=(3, 4, 5)

x3 ndim:  3
x3 shape: (3, 4, 5)
x3 size:  60

In [ ]:
print("dtype:", x3.dtype) #tipo de dato

dtype: int64

In [ ]:
print("itemsize:", x3.itemsize, "bytes") #tamaño de bytes
print("nbytes:", x3.nbytes, "bytes") # numero de bytes

itemsize: 8 bytes
nbytes: 480 bytes

Array Indexing: Accessing Single Elements

In [ ]:
x1

array([5, 0, 3, 3, 7, 9])

In [ ]:
x1[0] # Colocamon el indice del elemento a extraer en este caso el primer elemento tiene el indice 0

np.int64(5)

In [ ]:
x1[4]

np.int64(7)

In [ ]:
x1[-1] # Nos regresa el ultimo elemento de ndarray va de 0 hacai atras

np.int64(9)

In [ ]:
x1[-2]

np.int64(7)

In [ ]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 7]])

In [ ]:
x2[0, 0]

np.int64(3)

In [ ]:
x2[2, 0]

np.int64(1)

In [ ]:
x2[2, -1]

np.int64(7)

In [ ]:
x2[0,2]

np.int64(2)

In [ ]:
x2[0, 0] = 12 # para modificar un valor en una ubicacion en especifico por otro
x2

array([[12,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

#### Estadistica Basica

Media (Mean)

In [ ]:
data = np.array([1, 2, 3, 4, 5])
media = np.mean(data)
print(media)

3.0

Promedio (Average) y Promedio Ponderado

In [ ]:
data = np.array([1, 2, 3, 4, 5])
weights = np.array([1, 2, 3, 4, 5])
promedio = np.average(data)
promedio_ponderado = np.average(data, weights=weights)

In [ ]:
print(promedio)
print(promedio_ponderado)

3.0
3.6666666666666665

Mediana

In [ ]:
mediana = np.median(data)

In [ ]:
print(mediana)

3.0

Varianza y Desviación Estándar

In [ ]:
varianza = np.var(data)
desviacion = np.std(data)

In [ ]:
print(varianza)
print(desviacion)

2.0
1.4142135623730951

Generación de Datos Aleatorios

In [ ]:
muestra = np.random.normal(0, 1, 1000)
print(np.mean(muestra), np.std(muestra))

-0.006543456960417206 1.0059985778093545

Correlación

In [ ]:
corr = np.corrcoef([1,2,3], [1,5,7])

In [ ]:
print(corr)

[[1.         0.98198051]
 [0.98198051 1.        ]]

Cuadros Estadisticos

In [1]:
import numpy as np
import pandas as pd
from io import StringIO

In [6]:
raw = """Marca temporal\tNúmero de matrícula\t¿Cuántos años cumplidos tienes?\t¿Has realizado programas utilizando Python?\t¿Has utilizado Google Colab?\t¿Tienes cuenta de GitHub?
19/01/2026 18:32:18\t178920\t22\tSi\tNo\tSi
19/01/2026 18:32:23\t182712\t21\tSi\tNo\tSi
19/01/2026 18:32:25\t180370\t26\tSi\tSi\tSi
19/01/2026 18:32:27\t182570\t21\tSi\tSi\tSi
19/01/2026 18:32:28\t177622\t24\tSi\tNo\tSi
19/01/2026 18:32:29\t175166\t22\tSi\tSi\tSi
19/01/2026 18:32:30\t177573\t22\tSi\tSi\tSi
19/01/2026 18:32:35\t178430\t21\tSi\tSi\tSi
19/01/2026 18:32:38\t179169\t23\tSi\tNo\tSi
19/01/2026 18:32:41\t177263\t22\tSi\tSi\tSi
19/01/2026 18:32:48\t179884\t23\tSi\tNo\tSi
19/01/2026 18:32:48\t183016\t22\tSi\tNo\tSi
19/01/2026 18:32:50\t179033\t23\tSi\tSi\tNo
19/01/2026 18:32:54\t178218\t22\tSi\tNo\tSi
19/01/2026 18:32:55\t178446\t22\tSi\tSi\tSi
19/01/2026 18:33:00\t178166\t22\tSi\tSi\tNo
19/01/2026 18:33:02\t177406\t22\tSi\tNo\tSi
19/01/2026 18:33:05\t177192\t22\tSi\tSi\tSi
19/01/2026 18:33:08\t182451\t21\tSi\tNo\tSi
19/01/2026 18:33:08\t171513\t24\tNo\tNo\tSi
19/01/2026 18:33:09\t181619\t21\tSi\tNo\tSi
19/01/2026 18:33:12\t182298\t23\tSi\tNo\tSi
19/01/2026 18:33:14\t181419\t24\tNo\tNo\tSi
19/01/2026 18:33:32\t177291\t21\tSi\tSi\tSi
19/01/2026 18:33:42\t182085\t22\tSi\tNo\tSi
19/01/2026 18:33:53\t176453\t22\tSi\tNo\tSi
19/01/2026 18:34:04\t176263\t24\tSi\tNo\tSi
19/01/2026 18:34:06\t179997\t21\tSi\tNo\tSi
19/01/2026 18:36:21\t175842\t23\tSi\tNo\tNo
19/01/2026 20:19:21\t179913\t20\tSi\tNo\tSi
19/01/2026 20:19:48\t177301\t22\tSi\tSi\tNo
19/01/2026 20:20:06\t183060\t21\tSi\tNo\tSi
19/01/2026 20:20:08\t177935\t22\tSi\tSi\tSi
19/01/2026 20:20:19\t177700\t20\tSi\tSi\tSi
19/01/2026 20:20:26\t178318\t24\tSi\tSi\tSi
19/01/2026 20:20:27\t174653\t24\tSi\tNo\tSi
19/01/2026 20:20:29\t177139\t21\tSi\tNo\tSi
19/01/2026 20:20:31\t173479\t25\tSi\tNo\tNo
19/01/2026 20:20:39\t175588\t23\tNo\tNo\tSi
19/01/2026 20:20:45\t178774\t23\tSi\tSi\tSi
19/01/2026 20:20:45\t175031\t23\tSi\tNo\tNo
19/01/2026 20:20:49\t178396\t21\tSi\tSi\tSi
19/01/2026 20:20:49\t172068\t23\tNo\tNo\tNo
19/01/2026 20:20:50\t174197\t23\tNo\tNo\tSi
19/01/2026 20:20:55\t178584\t22\tSi\tNo\tSi
19/01/2026 20:20:55\t175329\t24\tSi\tNo\tSi
19/01/2026 20:20:56\t177685\t22\tSi\tSi\tSi
19/01/2026 20:20:57\t178678\t22\tNo\tNo\tSi
19/01/2026 20:21:04\t177143\t22\tSi\tNo\tSi
19/01/2026 20:21:07\t182318\t26\tSi\tNo\tSi
19/01/2026 20:21:27\t182377\t20\tSi\tNo\tSi
19/01/2026 20:21:34\t179419\t22\tSi\tNo\tNo
19/01/2026 20:21:35\t181662\t21\tSi\tNo\tSi
19/01/2026 20:21:38\t181760\t21\tSi\tNo\tSi
19/01/2026 20:22:06\t177888\t22\tSi\tNo\tSi
19/01/2026 20:22:15\t176535\t25\tSi\tNo\tSi
19/01/2026 20:22:29\t179862\t21\tSi\tNo\tSi
19/01/2026 20:22:32\t178378\t22\tSi\tNo\tSi
19/01/2026 20:22:50\t177451\t22\tSi\tNo\tSi
19/01/2026 20:23:15\t179804\t21\tSi\tNo\tSi
"""

# Cargar datos
df = pd.read_csv(StringIO(raw), sep='\t')
df.columns = [c.strip() for c in df.columns]

# Variables
df['edad'] = pd.to_numeric(df['¿Cuántos años cumplidos tienes?'], errors='coerce')
map_sn = {'Si': True, 'No': False}
df['prog_python'] = df['¿Has realizado programas utilizando Python?'].map(map_sn)
df['usa_colab'] = df['¿Has utilizado Google Colab?'].map(map_sn)
df['cuenta_github'] = df['¿Tienes cuenta de GitHub?'].map(map_sn)

# A NumPy
edad = df['edad'].to_numpy(dtype=float)
prog_py = df['prog_python'].to_numpy(dtype=bool)
usa_colab = df['usa_colab'].to_numpy(dtype=bool)
cuenta_gh = df['cuenta_github'].to_numpy(dtype=bool)

# Descriptivos de edad (NumPy)
summary_age = {
    'n': int(edad.size),
    'min': float(np.min(edad)),
    'p25': float(np.percentile(edad, 25)),
    'mediana': float(np.median(edad)),
    'media': float(np.mean(edad)),
    'p75': float(np.percentile(edad, 75)),
    'max': float(np.max(edad)),
    'rango(ptp)': float(np.ptp(edad)),
    'var_muestral': float(np.var(edad, ddof=1)),
    'std_muestral': float(np.std(edad, ddof=1)),
    'cv': float(np.std(edad, ddof=1)/np.mean(edad)),
}

# Frecuencias (NumPy)
freq_python = {'Si': int(np.count_nonzero(prog_py)), 'No': int(edad.size - np.count_nonzero(prog_py))}
freq_colab  = {'Si': int(np.count_nonzero(usa_colab)), 'No': int(edad.size - np.count_nonzero(usa_colab))}
freq_gh     = {'Si': int(np.count_nonzero(cuenta_gh)), 'No': int(edad.size - np.count_nonzero(cuenta_gh))}

# Tablas cruzadas (NumPy)
def tabla2x2(a, b):
    t = np.zeros((2,2), dtype=int)
    t[1,1] = np.count_nonzero(a & b)
    t[1,0] = np.count_nonzero(a & ~b)
    t[0,1] = np.count_nonzero(~a & b)
    t[0,0] = np.count_nonzero(~a & ~b)
    return t

tab_py_colab = tabla2x2(prog_py, usa_colab)
tab_py_gh    = tabla2x2(prog_py, cuenta_gh)
tab_colab_gh = tabla2x2(usa_colab, cuenta_gh)

# Medias de edad por grupo (NumPy)
means_by_group = {
    'edad_promedio_Python': {'Si': float(np.mean(edad[prog_py])) if np.any(prog_py) else np.nan,
                             'No': float(np.mean(edad[~prog_py])) if np.any(~prog_py) else np.nan},
    'edad_promedio_Colab':  {'Si': float(np.mean(edad[usa_colab])) if np.any(usa_colab) else np.nan,
                             'No': float(np.mean(edad[~usa_colab])) if np.any(~usa_colab) else np.nan},
    'edad_promedio_GitHub': {'Si': float(np.mean(edad[cuenta_gh])) if np.any(cuenta_gh) else np.nan,
                             'No': float(np.mean(edad[~cuenta_gh])) if np.any(~cuenta_gh) else np.nan},
}

summary_age, freq_python, freq_colab, freq_gh, tab_py_colab, tab_py_gh, tab_colab_gh, means_by_group

({'n': 60,
  'min': 20.0,
  'p25': 21.0,
  'mediana': 22.0,
  'media': 22.3,
  'p75': 23.0,
  'max': 26.0,
  'rango(ptp)': 6.0,
  'var_muestral': 1.8406779661016948,
  'std_muestral': 1.3567158752302173,
  'cv': 0.06083927691615324},
 {'Si': 54, 'No': 6},
 {'Si': 18, 'No': 42},
 {'Si': 52, 'No': 8},
 array([[ 6,  0],
        [36, 18]]),
 array([[ 1,  5],
        [ 7, 47]]),
 array([[ 5, 37],
        [ 3, 15]]),
 {'edad_promedio_Python': {'Si': 22.203703703703702, 'No': 23.166666666666668},
  'edad_promedio_Colab': {'Si': 22.11111111111111, 'No': 22.38095238095238},
  'edad_promedio_GitHub': {'Si': 22.21153846153846, 'No': 22.875}})

In [7]:
df

,Marca temporal,Número de matrícula,¿Cuántos años cumplidos tienes?,¿Has realizado programas utilizando Python?,¿Has utilizado Google Colab?,¿Tienes cuenta de GitHub?,edad,prog_python,usa_colab,cuenta_github
0,19/01/2026 18:32:18,178920,22,Si,No,Si,22,True,False,True
1,19/01/2026 18:32:23,182712,21,Si,No,Si,21,True,False,True
2,19/01/2026 18:32:25,180370,26,Si,Si,Si,26,True,True,True
3,19/01/2026 18:32:27,182570,21,Si,Si,Si,21,True,True,True
4,19/01/2026 18:32:28,177622,24,Si,No,Si,24,True,False,True
5,19/01/2026 18:32:29,175166,22,Si,Si,Si,22,True,True,True
6,19/01/2026 18:32:30,177573,22,Si,Si,Si,22,True,True,True
7,19/01/2026 18:32:35,178430,21,Si,Si,Si,21,True,True,True
8,19/01/2026 18:32:38,179169,23,Si,No,Si,23,True,False,True
9,19/01/2026 18:32:41,177263,22,Si,Si,Si,22,True,True,True
10,19/01/2026 18:32:48,179884,23,Si,No,Si,23,True,False,True
11,19/01/2026 18:32:48,183016,22,Si,No,Si,22,True,False,True
12,19/01/2026 18:32:50,179033,23,Si,Si,No,23,True,True,False
13,19/01/2026 18:32:54,178218,22,Si,No,Si,22,True,False,True
14,19/01/2026 18:32:55,178446,22,Si,Si,Si,22,True,True,True
15,19/01/2026 18:33:00,178166,22,Si,Si,No,22,True,True,False
16,19/01/2026 18:33:02,177406,22,Si,No,Si,22,True,False,True
17,19/01/2026 18:33:05,177192,22,Si,Si,Si,22,True,True,True
18,19/01/2026 18:33:08,182451,21,Si,No,Si,21,True,False,True
19,19/01/2026 18:33:08,171513,24,No,No,Si,24,False,False,True
20,19/01/2026 18:33:09,181619,21,Si,No,Si,21,True,False,True
21,19/01/2026 18:33:12,182298,23,Si,No,Si,23,True,False,True
22,19/01/2026 18:33:14,181419,24,No,No,Si,24,False,False,True
23,19/01/2026 18:33:32,177291,21,Si,Si,Si,21,True,True,True
24,19/01/2026 18:33:42,182085,22,Si,No,Si,22,True,False,True
25,19/01/2026 18:33:53,176453,22,Si,No,Si,22,True,False,True
26,19/01/2026 18:34:04,176263,24,Si,No,Si,24,True,False,True
27,19/01/2026 18:34:06,179997,21,Si,No,Si,21,True,False,True
28,19/01/2026 18:36:21,175842,23,Si,No,No,23,True,False,False
29,19/01/2026 20:19:21,179913,20,Si,No,Si,20,True,False,True
30,19/01/2026 20:19:48,177301,22,Si,Si,No,22,True,True,False
31,19/01/2026 20:20:06,183060,21,Si,No,Si,21,True,False,True
32,19/01/2026 20:20:08,177935,22,Si,Si,Si,22,True,True,True
33,19/01/2026 20:20:19,177700,20,Si,Si,Si,20,True,True,True
34,19/01/2026 20:20:26,178318,24,Si,Si,Si,24,True,True,True
35,19/01/2026 20:20:27,174653,24,Si,No,Si,24,True,False,True
36,19/01/2026 20:20:29,177139,21,Si,No,Si,21,True,False,True
37,19/01/2026 20:20:31,173479,25,Si,No,No,25,True,False,False
38,19/01/2026 20:20:39,175588,23,No,No,Si,23,False,False,True
39,19/01/2026 20:20:45,178774,23,Si,Si,Si,23,True,True,True
40,19/01/2026 20:20:45,175031,23,Si,No,No,23,True,False,False
41,19/01/2026 20:20:49,178396,21,Si,Si,Si,21,True,True,True
42,19/01/2026 20:20:49,172068,23,No,No,No,23,False,False,False
43,19/01/2026 20:20:50,174197,23,No,No,Si,23,False,False,True
44,19/01/2026 20:20:55,178584,22,Si,No,Si,22,True,False,True
45,19/01/2026 20:20:55,175329,24,Si,No,Si,24,True,False,True
46,19/01/2026 20:20:56,177685,22,Si,Si,Si,22,True,True,True
47,19/01/2026 20:20:57,178678,22,No,No,Si,22,False,False,True
48,19/01/2026 20:21:04,177143,22,Si,No,Si,22,True,False,True
49,19/01/2026 20:21:07,182318,26,Si,No,Si,26,True,False,True
50,19/01/2026 20:21:27,182377,20,Si,No,Si,20,True,False,True
51,19/01/2026 20:21:34,179419,22,Si,No,No,22,True,False,False
52,19/01/2026 20:21:35,181662,21,Si,No,Si,21,True,False,True
53,19/01/2026 20:21:38,181760,21,Si,No,Si,21,True,False,True
54,19/01/2026 20:22:06,177888,22,Si,No,Si,22,True,False,True
55,19/01/2026 20:22:15,176535,25,Si,No,Si,25,True,False,True
56,19/01/2026 20:22:29,179862,21,Si,No,Si,21,True,False,True
57,19/01/2026 20:22:32,178378,22,Si,No,Si,22,True,False,True
58,19/01/2026 20:22:50,177451,22,Si,No,Si,22,True,False,True
59,19/01/2026 20:23:15,179804,21,Si,No,Si,21,True,False,True

In [8]:
edad

array([22., 21., 26., 21., 24., 22., 22., 21., 23., 22., 23., 22., 23.,
       22., 22., 22., 22., 22., 21., 24., 21., 23., 24., 21., 22., 22.,
       24., 21., 23., 20., 22., 21., 22., 20., 24., 24., 21., 25., 23.,
       23., 23., 21., 23., 23., 22., 24., 22., 22., 22., 26., 20., 22.,
       21., 21., 22., 25., 21., 22., 22., 21.])

In [9]:
summary_age

{'n': 60,
 'min': 20.0,
 'p25': 21.0,
 'mediana': 22.0,
 'media': 22.3,
 'p75': 23.0,
 'max': 26.0,
 'rango(ptp)': 6.0,
 'var_muestral': 1.8406779661016948,
 'std_muestral': 1.3567158752302173,
 'cv': 0.06083927691615324}

In [13]:
print(f'Frecuencia de utilizacion de Python: {freq_python}')
print(f'Frecuencia de utilizacion de Colab: {freq_colab}')
print(f'Frecuencia de utilizacion de GitHub: {freq_gh}')

Frecuencia de utilizacion de Python: {'Si': 54, 'No': 6}
Frecuencia de utilizacion de Colab: {'Si': 18, 'No': 42}
Frecuencia de utilizacion de GitHub: {'Si': 52, 'No': 8}

In [15]:
print(f'Tabla 2x2 de Python y Colab: \n {tab_py_colab}')

Tabla 2x2 de Python y Colab:
 [[ 6  0]
 [36 18]]